<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- css -->
     <link rel="stylesheet" href="/css/style.css"/>
    <title>Trip Details Page</title>
</head>
<body>
    <%- include("../partials/navbar") %>
    <h1><%= trip.destination %> Trip </h1>
    <div class="trip-details">
        <!-- show page content -->
        <img src="/trips/<%= trip._id %>/image" alt="Image of <%= trip.destination %>" class="trip-image" style="border-radius: 10px;">

        <p><strong>Date:</strong> <%= trip.date.toDateString() %></p>
        <p><strong>Budget:</strong> $<%= trip.budget %></p>
        <p><strong>Duration:</strong> <%= trip.duration %> days</p>

        <% if (trip.isBookedTicket) { %>
            <p style="color: rgb(33, 164, 184);"><strong>Tickets are booked</strong></p>
        <% } else { %>
            <p style="color: red;"><strong>Tickets are not booked</strong></p>
        <% } %>
    </div>
    <div class="trip-actions">
    <!-- delete -->
     <form class="delete-form" action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
        <button class="delete-button" type="submit">Delete <%= trip.destination %> Trip</button>
     </form>
     <!-- edit -->
      <a class="edit-link" href="/trips/<%= trip._id %>/edit"> 
        <div class="edit-text">Edit <%= trip.destination %> Trip </div>
    </a>

    </div>


</body>
</html>